.float-left {
  float: right;
}

body {
  background: #007bff;
  background: linear-gradient(to right, #0062e6, #33aeff);
  font-family: sans-serif;
}

.center_div {
  margin: 0 auto;
 
  width: 80%; /* value of your choice which suits your alignment */
}
.app{
  color: whitesmoke;
  text-align: center;

}

button {
  margin: auto;
  display: block;
}

i {
  cursor: pointer;
}
